<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<h1 style="color:white;background-color:SlateBlue;text-align:center">About</h1>
<p>Myself Happy Mishra student of engineering in electronics and communication from Gianin Zail Singh College Campus of ngineering & Technology,Bathinda<br>
I have completed my Python and IoT part is also almost completed so, i have decided to start Django for Web Development<br>
so this is my first project for my practice</p>
<h2>Thankyou</h2>
<br><a href="{% url 'home' %}">Home</a>
<body>

</body>
</html>